PORT=8000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root 
DB_PASSWORD=123456
DB_DATABASE=haciendola
DB_SYNCHRONIZE=false
DB_LOGGING=false
DB_POOL_SIZE=10
DB_MAX_QUERY_EXECUTION_TIME=60000

TOKEN_KEYWORD_SECRET=YrBG4zFksVxRJy4V2E3TsQbeuder56hb
REFRESH_TOKEN_KEYWORD_SECRET=ArBp2sx5sVxRJy4V2E3TsQbeulo224xa1
TOKEN_EXPIRES_IN='2m'
REFRESH_TOKEN_EXPIRES_IN='5m'